
.testing {
	border: 5px solid red;
} 

/* Body backgrounds for each page */

.homebg {
  padding-top: 54px;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.image-services-bg {
	background: url('../images/suit.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	position: relative;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


/* Navigation bar styling is here */

.navbar-light {
	background-color: white;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 18px;
}

.navbar-light a {
	font-weight: bold;
	font-family: 'Quattrocento Sans', sans-serif;	
	font-size: 20px;
}

.navbar-nav > li > a:hover {
	background-color: rgba(127, 129, 135, 0.3);
}

.gcilogo {
	padding-right: 10px;
}





/* Making dropdown from partners link on navigation bar */

/* Dropdown Button */
.dropbtn {
    background-color: #f7f9f8;

    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: rgba(92, 186, 249,0.3);
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: rgba(247, 249, 248, 0.9);
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(127, 129, 135, 0.3);
}









/* Home Page Summary next to picture */


.intro-summary {
	font-family: 'Roboto:700', sans-serif;
	font-weight: normal;
	background-color: rgba(95, 104, 109, 0.5);
	color: white;
}

.intro-summary h2 {
	font-size: 35px;
	font-weight: bold;	
	color: white;
	margin-top: 10px;
	font-family: 'Lato', sans-serif;
	text-shadow: 15px 15px black;	
}

.intro-summary a {
	margin-bottom: 15px;
	margin-left: 28%;
}

.card-body p {
	color: white;
	margin-top: 20px;
	text-align: center;
	font-family: roboto;
}

/* Company divs linked to their information */
.separator {
	background-color: rgba(58, 59, 61, 0.85);
	font-size: 25px;
	font-weight: bold;
}

.card-body h3 {
	font-size: 25px;

}

.card-footer {
	text-align: center;
	width: 100%;
}

.card-footer a {
	display: inline-block;
}

.card-title {
	color: white;
	font-family: 'Russo One', sans-serif;
}

.partners-list {
	list-style-type: none;
	text-align: left;
	color: white;
}

.divpanel {
	height: 350px;
}

.divpanel:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.panel {
	background: rgba(58, 59, 61, 0.85);
}

.panel:hover {
	background: rgba(167, 171, 178, 0.75);
}


/* End of Home page styling */

/* Start of services page */

.service-div {
	background: rgba(38, 40, 43, 0.2);
	margin: auto;
    width: 50%;
    padding: 10px;
}

.service-header {
	color: white;
	
}


.service-content {
	height: 600px;
	text-align: center;
}

.service-content h1 {
	margin-top: 20px;
}

.service-content p {
	text-align: left;
	margin-top: 15px;
	margin-left: 15px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

.service-content li {
	text-align: left;
}

#history {
	background: rgba(21, 75, 163, 0.5);
}

#service-offer {
	background: white;
}

#products {
	background: rgba(21, 75, 163, 0.5);
}

#products-list {
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

