
* {
	margin: 0;
	padding: 0;
}

/* Body backgrounds for each page */

.homebg {
  padding-top: 54px;
 	background-color: #F8F8FF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.image-services-bg {
	background: url('../images/newbackground.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 880px;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  position: relative;
}


/* Navigation bar styling is here */

.navbar-light {
	background-color: white;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 18px;
	border: solid 2px black;
}

.navbar-light a {
	font-weight: bold;
	font-family: 'Quattrocento Sans', sans-serif;	
	font-size: 20px;
}

.navbar-nav > li > a:hover {
	background-color: rgba(127, 129, 135, 0.4);
}

.gcilogo {
	padding-right: 10px;
}



/* Start of home page */

.scrollBtn {
	background: rgba(100, 104, 104, 0.3);
	padding: 10px;
	border: none;
	border-radius: 100%;
	padding-left: 15px;
	padding-right: 15px;
} 

.scrollbutton-div {
	width: 10%;
	height: 10%;
	position: absolute;
	top: 90%;
	left: 50%;
	margin-bottom: 30px;
}

.scrollbutton-div2 {
	width: 10%;
	height: 10%;
	position: absolute;
	top: 90%;
	left: 50%;
	margin-bottom: 30px;
}

.scrollbutton-div3 {
	width: 10%;
	height: 10%;
	position: absolute;
	top: 90%;
	left: 47%;
}

.scrollbutton-div4 {
	width: 10%;
	height: 10%;
	position: absolute;
	top: 1%;
	left: 51%;
}

.scrollbutton-div5 {
	width: 10%;
	height: 10%;
	position: absolute;
	top: 90%;
	left: 50%;
}

#servicediv {
	position: relative;
}

.scrollBtn:hover {
	background-color: #a6adad;
}

.fa-down-white {
	color: white;
}

.profilediv {
	position: relative;
	padding-bottom: 100px;
}


.service-div {
	background: rgba(38, 40, 43, 0.5);
	margin: auto;
  width: 100%;
}

.service-header {
	color: white;	
}


.home-content {
	text-align: center;
	height: auto;
}

.home-content h1 {
	margin-top: 0px;
	font-family: 'Russo One', sans-serif;
}

.home-content p {
	text-align: center;
	margin: 100px auto;
	width: 50%;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
}

.home-content li {
	text-align: left;
	list-style-type: none;
	font-weight: bold;
	font-size: 15px;
}

#history {
	background: white;
}

#history h1 {
	background: rgba(114, 131, 168,0.7);
	padding: 25px;
}

#history li {
	margin: 20px auto;
	text-align: center;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}


.history-category {
	color: black;
	font-size: 20px;
	font-family: 'Russo One', sans-serif;
	text-decoration: underline;
}


#service-offer h1 {
	background: rgba(114, 131, 168,0.7);
	padding: 25px;
}

#service-offer p {
	padding-top: 54px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
 	-o-background-size: cover;
}

.logo-container {
	margin: 50px auto;
	text-align: center;
	position: relative;
	padding-bottom: 100px;
}

.logo-container h3 {
	text-decoration: underline;
	margin-bottom: 50px;
}

.client-div {
	margin-top: 20px;
}

.client-logo {
	background: #F8F8FF;
	padding: 20px
}

.client-logo p {
	margin: 0 auto;
	border: solid 2px red;
}

.gciname {
	color: blue;
	font-size: 28px;
	font-weight: bold;
	font-family: 'Russo One', sans-serif;
}

#products {
	background: white;
}

#products h1 {
	background: rgba(114, 131, 168,0.7);
	padding: 25px;
}

#products-list {
	position: relative;
}

.card-header {
	text-align: center;
	width: 100%;
}

.products-card-div {
	margin-top: 120px;
}

footer {
	margin-top: 100px;
}

/* Partner Page Summary next to picture */


.card-body p {
	color: black;
	margin-top: 20px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.card-body li {
	list-style-type: none;
}
/* Company divs linked to their information */
.separator {
	background-color: #044587;
	font-size: 35px;
	font-weight: bold;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.card-body h3 {
	font-size: 25px;
}

.card-footer {
	text-align: center;
	width: 100%;
}

.card-footer a {
	display: inline-block;
}

.card-title {
	color: black;
	font-family: 'Russo One', sans-serif;
}



.partners-list {
	list-style-type: none;
	text-align: left;
	color: white;
}

.divpanel {
	height: auto;
}

.divpanel:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.panel {
	background: white;
	height: auto;
}

.panel-products {
	background: white;
	height: auto;
}

.panel:hover {
	background: rgba(167, 171, 178, 0.45);
}

.companyinfo h1 {
	text-align: center;
}

.companyinfo img {
	justify-content: center;
}

.companyinfo li {
	list-style-type: none;
}










/* Contact page styling */

.contactdiv {
	margin-top: 50px;
}

.contactmessage {
	margin-top: 100px;
}

.contactmessage li {
	list-style-type: none;
	text-align: center;
}

.successdiv {
	text-align: center;
}

.successdiv a {
	margin-top: 100px;
	padding: 20px;
	font-size: 30px;
}


@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

